= render 'cover'
= render 'index'
/ 1
= render 'rvm'
/ 2
= render 'git'
/ 5 - variables
= render 'vars'
= render 'strings'
= render 'concat'
= render 'gets_puts'
= render 'symbols'
= render 'numbers'
= render 'interlude_strong_typing'
= render 'booleans'
= render 'arrays'
= render 'hashes'
= render 'regexps'
= render 'ranges'
/ 6 - ops
= render 'operators'
/ 7 - conditionals
= render 'conditionals'
/ 8 - iterators
= render 'iterators'
/ 9 - methods
= render 'methods'