= render 'cover'
= render 'index'
= render 'rvm'
= render 'git'
/ = render 'irb'
/ = render 'ruby'
= render 'vars'
= render 'strings'
= render 'concat'
= render 'gets_puts'
= render 'symbols'
= render 'numbers'
= render 'booleans'
= render 'arrays'
= render 'hashes'
= render 'regexps'
= render 'ranges'
